extends layout

block content
  h1 #{title.charAt(0).toUpperCase() + title.substring(1)}
  p Welcome to the #{title}

  include fillin_form

  include query_form

  h2 Results of query: <q>#{query}</q>
  if rows && (rows.length > 0)
    table
      thead
        tr
          each key in Object.keys(rows[0])
            th= key
      tbody
        each row in rows
          tr
            each val in Object.values(row)
              td= val
  else 
    p No results.